@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* * css de component yazdığımızda aynı tailwind classı gibi kullanabiliyoruz. */

  .loginDiv {
   background: linear-gradient(71deg, #00c4ff 19.35%, #87cefa 90.12%);
    @apply flex justify-center items-center min-h-screen;
  }
  .login-input {
    height: 44px;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    padding: 0.6rem;
    @apply focus:outline-main focus:caret-main;
  }
  .login-input::placeholder {
    color: #00c4ff;
    @apply font-montserrat text-[12px] font-[400];
  }

  .card-div {
    @apply mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8;
  }

  .container {
    @apply mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8;
  }
}
